@media (max-width: 990px) {
    header {
        background-color: #F5AD00;
    }

    section {
        overflow-x: hidden;
    }

    /* Intro Section */
    .intro-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none!important;
    }

    .swiper {
        width: 100vw;
        margin-top: 5rem;
        border-radius: 20px;
    }

    .intro-perks {
        flex-direction: column;
    }

    .main-slider {
        margin: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .main-slide {
        background-image: url(/Assets/Img/Rectangle\ 83.png);
        background-color: #F5AD00;
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: bottom;
    }


    /* Intro-perks */
    .perk {
        margin-bottom: 1rem;
        box-shadow: 0.5px 0.9px rgba(0, 0, 0, 0.1);
    }   


    /* Promotions */
    .promo-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .item-1 {
        height: 419px;
    }

    .item-2 {
        height: 220px;
    }

    .item-3 {
        height: 250px;
        background-image: url(/Assets/Img/bird.png);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: 100% 100%;
    }

    .item-2-info {
        margin: 1.5rem 4rem;
    }

    .item-3 img {
        display: none;
    }

    .item-4 {
        height: 350px;
    }

    .item-4-info {
        margin: 1rem;
        flex-direction: row-reverse;
    }

    .item-4 img[alt=cat-1] {
        top: 34.5%;
        width: 100%;
    }

    .item-4 img[alt=cat-2] {
        display: none;
    }


    /* Top Products */
    .product-slider-mobile {
        display: block;
    }

    .product-slider {
        display: none;
    }

    .top-prod-title {
        justify-content: space-evenly;
    }

    .top-prod-title h2 {
        font-size: 6vw;
    }

    .top-products-container {
        margin: 0;
    }

    .next-prev-btn {
        display: none;
    }

    .top-prod-title a {
        display: none;
    }

    .pagination {
        display: block;
        padding-left: 30px;
        cursor: pointer;
    }

    .pagination p {
        color: #E7E7E7;
        float: left;
        padding: 8px;
        text-decoration: none;
        background-color: #E7E7E7;
    }

    .pagination p.active {
        background-color: #4CAF50;
        color: #4CAF50;
        border-radius: 4px;
    }


    /* Extra Promo */
    .extra-promo {
        flex-direction: column;
        justify-content: center;
        margin: 4rem 4%;
    }

    .extra-promo > * {
        margin-bottom: 2rem;
        width: 90vw;
    }

    .extra-item-1 img[alt=card-1],
    .extra-item-1 img[alt=card-2] {
        left: 0%;
    }

    .extra-item-2 img {
        width: 100%;
        height: 100%;
    }

    .extra-item-3 .discount-se img{
        width: 43vw;
        top: -3.5%;
    }


    /* Turtle Banner */
    .turtle-banner {
        margin: 2rem 0;
    }

    .banner-container {
        width: 95vw;
    }

    .banner-info {
        padding: 2rem;
        font-size: 20px;
    }

    .banner-img {
        top: 42%;
        left: 42%;
    }

    .banner-img img {
        width: 70%;
    }


    /* Brands */
    .brands-slider-mobile {
        display: block;
    }

    .brands-slider {
        display: none;
    }

    .brands-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 1rem;
    }

    .brands-title h2 {
        margin: 0;
    }


    .mobile-item-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-item-wrapper {
        background-color: #fff;
        margin: 2rem 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .mobile-item-container img {
        width: 100%;
    }   

    .promo-btn-div {
        background-color: #fff;
        width: 82vw;
        position: absolute;
        top: 80%;
        padding: 1rem;
        display: flex;
        justify-content: center;
    }

    .promo-btn-div .promo-btn {
        color: #fff;
        background-color: #000;
    }

    .promo-btn-div .promo-btn:active {
        color: #000;
        background-color: #F5AD00;
    }
}