/* Global Start */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-display: swap;
}

ul {
    list-style: none!important;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
    background-color: #f6f9fc;
}

section {
    width: 87rem;
    margin: 0 auto;
}

.hidden {
    display: none!important;
}

.invisible {
    visibility: hidden!important;
}

.rotatetUp {
    rotate: 180deg;
}

/* Global Fonts */
/* Myriad */
@font-face {
    font-family: "Myriad";
    src: url(../Fonts/Myriad.TTF);
}

/* FiraGo */
@font-face {
    font-family: "FiraGO";
    src: url(../Fonts/FiraGO-M.otf);
}

/* Global End */


/* Global Header Start */
.control-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    /* width: 105rem; */
    width: 90vw;
    margin: 0 auto;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.control-panel > * {
    padding: 2rem 5rem;
}

.opt-button {
    cursor: pointer;
    position: relative;
}

.opt-button:hover .nav-menu-content {
    display: flex;
}

.nav-menu-content {
    display: none;
    position: absolute;
    top: 30%;
    left: 55%;
    margin-left: 1rem;
    text-align: center;
    font-family: 'FiraGO', sans-serif;
    font-size: 16px;
    width: 244%;
}

.nav-menu-content a:hover {
    background-color: gold;
}

.nav-menu-content > * {
    color: black;
    width: 150px;
    height: 30px;
    margin: 0 0.6rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.user-control-panel {
    display: flex;
    margin-right: 1rem;
}

.user-control-panel > * {
    display: inherit;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    padding: 0.4rem;
    font-family: "Myriad";
    font-weight: 600;
    cursor: pointer;
}

.user-control-panel > *:hover {
    background-color: gold;
    border-radius: 10px;
}

.user-control-panel div img {
    margin-bottom: 0.8rem;
}

.user-control-panel div small {
    font-size: 14px;
    letter-spacing: 1px;
}

.nav-indicator {
    font-size: 14px;
    font-family: 'FiraGO', sans-serif;
    font-weight: 500;
    /* width: 100rem; */
    width: 85vw;
    margin: 2rem auto;
}

.nav-indicator span a:hover {
    color: black;
}
/* Global Header End */





/* Global Footer Start */
.pre-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 9rem;
}

.pre-footer-info {
    width: 20rem;
    font-family: 'FiraGO', sans-serif;
}

.pre-footer-info img {
    margin-bottom: 0.6rem;
}

.pre-footer-info p {
    font-size: 12px;
    line-height: 23px;
    color: #6E6E6E;
    width: 100%;
}

.pre-footer-control-panel {
    display: inherit;
    margin-left: 10rem;
}

.panel {
    margin-right: 9rem;
}

.panel span {
    font-size: 14px;
}

.panel ul li {
    margin-bottom: 0.5rem;
}

.panel ul li:first-child {
    margin-bottom: 1rem;
}

.panel a {
    color: #6E6E6E;
    font-family: 'FiraGO', sans-serif;
    font-size: 12px;
}

.panel a:hover {
    color: black;
}

.panel img[alt=facebook] {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 0.7rem 1rem;
    margin-top: 0.6rem;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 3rem auto 1rem;
    font-family: 'FiraGO', sans-serif;
    font-weight: 500;
    width: 1186px;
}

.zone1 span {
    color: #9C9C9C;
}

.smart {
    color: #74B42C;
}

.payment-logo svg {
    margin: 0 1rem;
}
/* Global Footer End */


/* Global Media CSS */

@media (min-width:360px) and (max-width:1024px) {
    .pre-footer {
        display: none;
    }

    body img[alt=leaf-1],
    body img[alt=leaf-2],
    body img[alt=leaf-3],
    body img[alt=leaf-4],
    body img[alt=leaf-5],
    body img[alt=leaf-6] {
        display: none;
    }

    section {
        width: auto;
    }

    /* Header */
    .control-panel {
        display: none;
    }

    .mobile-control-panel {
        display: flex!important;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        border-radius: 30px;
        margin: 0 5vw;
        box-shadow: 0 2px rgba(0, 0, 0, 0.1);
    }
    
    .mobile-control-panel > * {
        padding: 3vh 5vw;
    }

    .lang-control > * {
        margin: 0 1vw;
        font-family: 'FiraGO', sans-serif;
        font-size: 16px;
        padding: 0.5vh;
        border-radius: 20px;
    }

    .lang-control > *:active {
        color: #74B42C;
        background-color: gold;
    }

    .nav-indicator {
        margin-left: 10vw;
    }

    .nav-indicator span:first-child {
        display: none;
    }


    /* Footer */
    .wrapper {
        flex-direction: column-reverse;
        align-items: center;
        margin: 0;
        padding-bottom: 5rem;
        width: 100vw;
    }

    .wrapper .zone3 {
        margin-bottom: 5rem;
    }

    .wrapper .zone1 {
        margin-top: 2vh;
    }

    .mobile-nav-menu {
        display: block!important;
        margin-top: 2rem;
        width: 100vw;
        position: fixed;
        z-index: 2;
        bottom: 0;
        background-color: white;
    }

    .mobile-nav-menu nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-nav-menu nav a {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.5rem 0.8rem;
        color: black;
    }

    .menu-btn {
        background-color: #74B42C;
        border-radius: 100%;
        padding: 0.8rem;
    }

    .menu-btn:active {
        background-color: #54772d;
    }

    .menu-btn img {
        width: 19px;
        height: 12px;
    }
}