* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
    background-color: #f6f9fc;
}

.control-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    margin: 0 5vw;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.control-panel > * {
    padding: 2rem 5rem;
}

.user-control-panel {
    display: flex;
    margin-right: 1rem;
}

.user-control-panel > * {
    display: inherit;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    font-family: "Myriad";
    font-weight: 600;
}

.user-control-panel div img {
    margin-bottom: 0.8rem;
}

.user-control-panel div small {
    font-size: 14px;
    letter-spacing: 1px;
}

.nav-indicator {
    margin-left: 6.5rem;
    margin-top: 3.75rem;
    font-size: 14px;
    font-family: 'FiraGO', sans-serif;
    font-weight: 500;
}

.pre-footer {
    display: flex;
    margin-left: 14%;
    margin-bottom: 9rem;
}

.pre-footer-info {
    width: 20vw;
    font-family: 'FiraGO', sans-serif;
}

.pre-footer-info img {
    margin-bottom: 0.6rem;
}

.pre-footer-info p {
    font-size: 12px;
    line-height: 23px;
    color: #6E6E6E;
    width: 100%;
}

.pre-footer-control-panel {
    display: inherit;
    margin-left: 10rem;
}

.panel {
    margin-right: 9rem;
}

.panel span {
    font-size: 14px;
}

.panel ul li {
    margin-bottom: 0.5rem;
}

.panel ul li:first-child {
    margin-bottom: 1rem;
}

.panel a {
    color: #6E6E6E;
    font-family: 'FiraGO', sans-serif;
    font-size: 12px;
}

.panel img[alt=facebook] {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 0.7rem 1rem;
    margin-top: 0.6rem;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 3rem 6rem 1rem;
    font-family: 'FiraGO', sans-serif;
    font-weight: 500;
}

.zone1 span {
    color: #9C9C9C;
}

.smart {
    color: #74B42C;
}

.payment-logo svg {
    margin: 0 1rem;
}

/* .zone2::after {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    left: 0%;
    top: 65rem;
    background-color: gold;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border: 10px solid gray;
    border-bottom: 0;
} */